<html>
<head>
  <title>{{ show_action }} Variable</title>
</head>
<body>
  {% include "var_status.html" %}
  <form action="/vars" method="post">
    <div>Name:</div>
    <input type="text" name="action" value="{{ action }}" style="display:none" />
    {% if original_name %}
    <input type="text" name="original_name" value="{{ original_name }}" style="display:none" \>
    {% endif %}
    <input type="text" name="name" value="{{ name }}" />
    <div>Value:</div>
    <input type="text" name="value" value="{{ value }}" />
    <div></div>
    <input type="submit" value="{{ show_action }}!" />
  </form>
</body>
</html>
